.valid-cell-style {
    -fx-background-color: #2c3e50;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-cursor: hand;
}

.cell-style {
    -fx-background-color: #95a5a6;
    -fx-border-color: black;
    -fx-border-width: 1;
}